<h1>Editing Event Volunteer Slot Availability</h1>

<%= render 'form', event_volunteer_slot_availability: @event_volunteer_slot_availability %>

<%= link_to 'Show', @event_volunteer_slot_availability %> |
<%= link_to 'Back', event_volunteer_slot_availabilities_path %>
