<%= form_for(event_volunteer) do |f| %>
  <% if event_volunteer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_volunteer.errors.count, "error") %> prohibited this event_volunteer from being saved:</h2>

      <ul>
      <% event_volunteer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
