<h1>Editing Event Volunteer Slot</h1>

<%= render 'form', event_volunteer_slot: @event_volunteer_slot %>

<%= link_to 'Show', @event_volunteer_slot %> |
<%= link_to 'Back', event_volunteer_slots_path %>
